.symbol-count {
    padding: 10px 10px 0px 10px;
}

.upload-file-button {
    width: 29px;
    height: 35px;
    background-image: url("../../../../../img/upload.png");
    background-size: cover;
    background-color: transparent;
    border: none;
}

.header__body__main {
    height: 10%;
    position: relative;
}

.upload-file-button {
    position: absolute;
    top: 5px;
    right: 10px;
}