.wrapper_links_percents {
    width: 80%;
}

.links__plagiarism-body {
    position: relative;
    margin-bottom: 10px;
}

.percent__links {
    text-align: right;
    display: inline-block;
    position: absolute; 
    right: 10px;
}