@font-face {
    font-family: 'Gardens';
    src: url('../../../../../fonts/Gardens.ttf');
    font-weight: normal;
    font-style: normal;
}

.container_1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border__plagiarism-body {
    margin-left: 15%;
    margin-right: 15%;
}

.wrapper_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textarea__results {
    padding: 10px 15px 10px 15px;
    border: none;
    outline: none;
    resize: none;
    min-width: 100%;
    width: 100%;
    height: 75%;
    max-height: 80%;
}

.textarea__results p b {
    background: #DDC5A2;
    font-weight: normal;
    border-radius: 5px;
}

.source-text__results {
    font-family: 'Gardens';
    font-size: 24px;
    margin: 20px 0 10px 0;
    text-align: center;
}

.source-text__results p{
    margin: 0;
}

.body__results__main {
    border-radius: 20px;
    margin: 20px auto auto auto;
    min-width: 350px;
    max-width: 70%;
    min-height: 400px;
    background-color: white;
}