.body__results__main {
    border-radius: 20px;
    margin: 20px auto auto auto;
    min-width: 350px;
    max-width: 70%;
    min-height: 550px;
    background-color: white;
}

.open-dialog-button {
    background-size: cover;
    background-color: transparent;
    border: none;
}

.rephrasedWord {
    display: inline;
}

.textarea__results button b p {
    background: #DDC5A2;
    font-weight: normal;
    border-radius: 5px;
}