.body__main {
    border-radius: 20px;
    margin: 20px auto auto auto;
    min-width: 350px;
    max-width: 70%;
    height: 93%;
    min-height: 350px;
    background-color: white;
}

@media (max-height: 900px) and (max-width: 500px) {
    .body__main {
        margin: 0px auto auto auto;
    }
}