@font-face {
    font-family: 'Gardens';
    src: url('../../../../fonts/Gardens.ttf');
    font-weight: normal;
    font-style: normal;
}

.pl-check-results-header__body {
    width: 100%;
    height: 10%;
    padding: 10px 10px 0 10px;
    text-align: center;
    position: relative;
}

.heading__pl-check-re {
    font-family: 'Gardens';
    font-size: 24px;
    margin: 0 auto;
    display: inline;
}

.container__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plagiarism-percent__body {
    border: 1px solid black;
    width: 130px; 
    height: 130px;
    border-radius: 50%;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.percent__plagiarism-body {
    font-family: 'Audrey';
    font-size: 30px;
    margin: 0;
}

.border__plagiarism-body {
    margin-left: 15%;
    margin-right: 15%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#close_button {
    width: 30px;
    height: 30px;
    background-image: url("../../../../img/close.png");
    background-size: cover;
    background-color: transparent;
    border: none;

    text-align: right;
    display: inline-block;
    position: absolute; 
    right: 10px;
}