@font-face {
    font-family: 'Gardens';
    src: url('../../../../fonts/Gardens.ttf');
    font-weight: normal;
    font-style: normal;
}

::placeholder {
    font-family: 'Gardens';
}

.textarea__body {
    padding: 0 10px;
    border: none;
    outline: none;
    resize: none;
    min-width: 100%;
    width: 100%;
    height: 75%;
    max-height: 80%;
}