.body__main {
    border-radius: 20px;
    margin: 20px auto auto auto;
    min-width: 350px;
    max-width: 70%;
    height: 93%;
    min-height: 350px;
    background-color: white;
}

.body__results__main {
    border-radius: 20px;
    margin: 20px auto auto auto;
    min-width: 350px;
    max-width: 70%;
    min-height: 400px;
    background-color: white;
}