.outer_color {
    border: 1px solid black;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
}

.percent-container__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plagiarism-percent__body {
    border: 1px solid black;
    width: 130px; 
    height: 130px;
    border-radius: 50%;
    background-color: white;

    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.percent__plagiarism-body {
    font-family: 'Audrey';
    font-size: 30px;
    margin: 0;
}